<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Keyword Popularity API</title>
    <meta name="author" content="Marko Bešlić">

    <style>
        body {
            font-weight: normal;
            font-size: 24px;
            line-height: 32px;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #eeeeee;
        }

        .centered {
            position: fixed;
            top: 50%;
            background-color: #FFFFFF;
            padding: 2.5%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .text-centered {
            text-align: center;
        }
    </style>
</head>

<body>

<div class="centered">
    <h1>Keyword Popularity API</h1>
    <h6><small></small></h6>
    <p class="text-centered">
       <a href="{{ path('app.swagger_ui') }}">API Docs</a>
    </p>
</div>

</body>
</html>
